In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import os
import shutil

In [30]:
clarifai = pd.read_csv("trainData.csv")

In [16]:
clarifai.head()

                      photoId      prob
0  8wgppAqw7iZB8Nn_g7Sh5Q.jpg  0.000000
1  bBn5wNzDxNWHRJ-HltWLAw.jpg  0.000000
2  4eNFVaXUeZK1gXm0p7x1HQ.jpg  0.991816
3  a4de5xLtcL4daxBiHchBUA.jpg  0.986196
4  a5PVRf-XMaCCUeH4rHZboQ.jpg  0.994638

In [4]:
clarifai['label'] = np.where(clarifai['prob']>=0.8, 1, 0)

In [262]:
clarifai.head()

                      photoId      prob  label
0  8wgppAqw7iZB8Nn_g7Sh5Q.jpg  0.000000      0
1  bBn5wNzDxNWHRJ-HltWLAw.jpg  0.000000      0
2  4eNFVaXUeZK1gXm0p7x1HQ.jpg  0.991816      1
3  a4de5xLtcL4daxBiHchBUA.jpg  0.986196      1
4  a5PVRf-XMaCCUeH4rHZboQ.jpg  0.994638      1

In [31]:
def label_race (row):
     return row['photoId'].split('.')[0]
clarifai['photoId'] = clarifai.apply (lambda row: label_race (row),axis=1)

In [32]:
clarifai['photoIdOrig'] = clarifai['photoId']

In [33]:
clarifai['photoId'] = clarifai['photoId'].str.lower()

In [8]:
clarifai.head()

                  photoId      prob  label             photoIdOrig
0  8wgppaqw7izb8nn_g7sh5q  0.000000      0  8wgppAqw7iZB8Nn_g7Sh5Q
1  bbn5wnzdxnwhrj-hltwlaw  0.000000      0  bBn5wNzDxNWHRJ-HltWLAw
2  4enfvaxuezk1gxm0p7x1hq  0.991816      1  4eNFVaXUeZK1gXm0p7x1HQ
3  a4de5xltcl4daxbihchbua  0.986196      1  a4de5xLtcL4daxBiHchBUA
4  a5pvrf-xmaccueh4rhzboq  0.994638      1  a5PVRf-XMaCCUeH4rHZboQ

In [267]:
np.sum(clarifai['label']==0)

789

In [268]:
np.sum(clarifai['label']==1)

2007

In [2]:
data = pd.read_csv('neural-image-assessment-master/finalTestYelp.txt', sep=" ", header=None)
data.columns = ["no", "photoId", "semi", "score", "equal", "value"]

In [3]:
data.head()

   no                     photoId semi  score equal    value
0  1)  1ndsqzwmwpljk0mbowuoiq.jpg    :  Score     =  5.66738
1  2)  6uyz5nitzeryfdpfr6vndg.jpg    :  Score     =  5.56584
2  3)  0jwi76tjv-szxrzh2u0eca.jpg    :  Score     =  5.45679
3  4)  6grquyrtlxnqr55jb4rsiw.jpg    :  Score     =  5.43780
4  5)  1udc7zxodhgptvxp2ukeiq.jpg    :  Score     =  5.40282

In [4]:
data = data.drop(['no', 'semi', 'score', 'equal'], axis=1)

In [5]:
data.head()

                      photoId    value
0  1ndsqzwmwpljk0mbowuoiq.jpg  5.66738
1  6uyz5nitzeryfdpfr6vndg.jpg  5.56584
2  0jwi76tjv-szxrzh2u0eca.jpg  5.45679
3  6grquyrtlxnqr55jb4rsiw.jpg  5.43780
4  1udc7zxodhgptvxp2ukeiq.jpg  5.40282

In [6]:
data['photoId'] = [x.split('.')[0] for x in data['photoId']]

In [7]:
data = data.drop_duplicates(subset='photoId', keep="last")

In [8]:
data.head()

                  photoId    value
0  1ndsqzwmwpljk0mbowuoiq  5.66738
1  6uyz5nitzeryfdpfr6vndg  5.56584
2  0jwi76tjv-szxrzh2u0eca  5.45679
3  6grquyrtlxnqr55jb4rsiw  5.43780
4  1udc7zxodhgptvxp2ukeiq  5.40282

In [9]:
data.shape

(30, 2)

In [10]:
x = data['value'].values.reshape(-1, 1) #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data['value1'] = x_scaled.reshape(-1, 1)

In [11]:
list(data)

['photoId', 'value', 'value1']

In [12]:
data['norm'] = np.where((data['value1']>0.5), 1, 0)

In [13]:
sum(data['norm']==0)

11

In [33]:
data.shape

(13402, 4)

In [14]:
data.head()

                  photoId    value    value1  norm
0  1ndsqzwmwpljk0mbowuoiq  5.66738  1.000000     1
1  6uyz5nitzeryfdpfr6vndg  5.56584  0.915996     1
2  0jwi76tjv-szxrzh2u0eca  5.45679  0.825779     1
3  6grquyrtlxnqr55jb4rsiw  5.43780  0.810068     1
4  1udc7zxodhgptvxp2ukeiq  5.40282  0.781129     1

In [15]:
data.to_csv("finalTestNima.csv", index=False)

In [34]:
photos = pd.read_csv("Final_sample_train_photos.csv", engine="python")

In [29]:
photos.head()

,Unnamed: 0,business_id,caption,label,photo_id
0,31,1xEFOt8ArF0k4cpqWUk9gg,McDonald's World Famous Fries®,food,tTc1_lliqXaLQS46wF4-Vw
1,32,1xEFOt8ArF0k4cpqWUk9gg,McDonald's Big Mac® Extra Value Meal,food,D8eaPRSCMJIXeOgLE8lRxw
2,33,1xEFOt8ArF0k4cpqWUk9gg,McDonald's All Day Breakfast Sandwiches,food,K08R8-9y7YxgLDW6ZGWLqQ
3,34,1xEFOt8ArF0k4cpqWUk9gg,McDonald's Chicken McNuggets®,food,VZnjMz0F1qDgeT2XvGzpDA
4,35,1xEFOt8ArF0k4cpqWUk9gg,McDonald's Quarter Pounder with Cheese Extra V...,food,BA7Rlmqa3ZMY2w8vVErI1A

In [35]:
photos.shape

(13405, 5)

In [30]:
photos['photoId'] = photos['photo_id'].str.lower()

In [31]:
mer = pd.merge(data, photos, on='photoId')

In [32]:
mer.shape

(13399, 9)

In [38]:
mer.dtypes

photoId         object
value          float64
value1         float64
norm             int64
Unnamed: 0      object
business_id     object
caption         object
label           object
photo_id        object
dtype: object

In [39]:
sum(mer['norm']==0)

3396

In [40]:
mer.to_csv("New_Train_Bad_Nima.csv", index=False)

In [31]:
df.to_csv("trainLabelsVGG.csv")

In [40]:
df = pd.merge(data, clarifai, on="photoId")

In [41]:
df.head()

,photoId,value,value1,norm,prob,photoIdOrig
0,lm8n-ddgwgz8sgbuvkz9uw,5.94856,1.000000,1,0.959176,LM8N-DdGwgz8sGBuVkZ9uw
1,b0djwv7ocgknejww3roqsa,5.94517,0.998411,1,0.000000,b0dJWV7OcGkNEjWw3rOqsA
2,qpfwxx8xosp44smhc-rbfg,5.86847,0.962469,1,0.000000,qPfWXx8xOSp44sMhc-Rbfg
3,06vyjxhn0evriihjlwsx0g,5.85913,0.958092,1,0.981467,06vyJxHn0EvRiiHJlWsx0g
4,xzwmzemw6aqsxg9fmxbzcw,5.83328,0.945978,1,0.834157,XZWmzEMW6aQsXg9FmXBZcw

In [42]:
df.to_csv("TrainNima.csv")

In [14]:
x = df['value'].values.reshape(-1, 1) #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df['value1'] = x_scaled.reshape(-1, 1)

In [280]:
df.head()

                  photoId     value      prob  label             photoIdOrig
0  lm8n-ddgwgz8sgbuvkz9uw  1.000000  0.959176      1  LM8N-DdGwgz8sGBuVkZ9uw
1  b0djwv7ocgknejww3roqsa  0.998411  0.000000      0  b0dJWV7OcGkNEjWw3rOqsA
2  qpfwxx8xosp44smhc-rbfg  0.962469  0.000000      0  qPfWXx8xOSp44sMhc-Rbfg
3  06vyjxhn0evriihjlwsx0g  0.958092  0.981467      1  06vyJxHn0EvRiiHJlWsx0g
4  xzwmzemw6aqsxg9fmxbzcw  0.945978  0.834157      1  XZWmzEMW6aQsXg9FmXBZcw

In [15]:
df['norm'] = np.where(((df['value1']>=0.5) & (df['label']==1)), 1, 0)

In [282]:
df.head()

,photoId,value,prob,label,photoIdOrig,norm
0,lm8n-ddgwgz8sgbuvkz9uw,1.000000,0.959176,1,LM8N-DdGwgz8sGBuVkZ9uw,1
1,b0djwv7ocgknejww3roqsa,0.998411,0.000000,0,b0dJWV7OcGkNEjWw3rOqsA,0
2,qpfwxx8xosp44smhc-rbfg,0.962469,0.000000,0,qPfWXx8xOSp44sMhc-Rbfg,0
3,06vyjxhn0evriihjlwsx0g,0.958092,0.981467,1,06vyJxHn0EvRiiHJlWsx0g,1
4,xzwmzemw6aqsxg9fmxbzcw,0.945978,0.834157,1,XZWmzEMW6aQsXg9FmXBZcw,1

In [283]:
df.tail()

,photoId,value,prob,label,photoIdOrig,norm
2790,vxvxfckbxygtnlbgadcqxw,0.241946,0.997167,1,vxVXfcKbxYGtnlBgaDCQxw,0
2791,j3lam34rlr9q8eif63n4tq,0.217653,0.997134,1,j3LaM34Rlr9q8EIF63N4tQ,0
2792,ogi2ac7dbwhdtt_lrxnx_a,0.160383,0.987904,1,OgI2AC7dBWhdTt_lrxNx_A,0
2793,gdxfxkymlmjkcxs31uukpa,0.078835,0.955873,1,GdxfxkymLMjkcxs31UuKpA,0
2794,qidlflkhdevmimfhale14w,0.000000,0.000000,0,qidlflKhdevMImfHalE14w,0

In [284]:
df = df.drop(df.columns[0], axis=1)

In [285]:
df = df.drop(df.columns[0], axis=1)

In [286]:
df = df.drop(df.columns[0], axis=1)

In [287]:
df = df.drop(df.columns[0], axis=1)

In [288]:
df2 = df

In [289]:
df.rename(columns={'photoOrig': 'photo_id', 'norm': 'good'}, inplace=True)

In [16]:
df.to_csv("outAlex1.csv")

In [291]:
np.sum(df['good']==1)

1658

In [292]:
np.sum(df['good']==0)

1137

In [239]:
df1 = pd.read_csv('labeledDataset.csv', sep=",")

In [240]:
df1.shape

(502, 7)

In [241]:
df1.head()

,sno,photoId,businessId,caption,label,good,useful
0,1124,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0
1,1142,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0
2,1177,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0
3,1107,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0
4,576,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0

In [242]:
df1 = df1.drop(['sno'], axis=1)

In [243]:
df1.head()

,photoId,businessId,caption,label,good,useful
0,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0
1,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0
2,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0
3,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0
4,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0

In [244]:
df1.shape

(502, 6)

In [245]:
df1 = df1.drop_duplicates(subset='photoId', keep="last")

In [246]:
df1.shape

(482, 6)

In [247]:
df1['photoIdOrig'] = df1['photoId']
# df1['photoId'] = df1['photoId'].str.lower()

In [248]:
df1.head()

,photoId,businessId,caption,label,good,useful,photoIdOrig
0,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0,_15wZGb3QONopTo5yiZ8Rg
1,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,_80kyh9A5cFNG-RwwDR6iA
2,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0,_8B40xRtabQop1QXbpGTtA
3,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0,_8tN02g8wArjtdcu1e7Fnw
4,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0,_a1d3bupKZ0bzKyUAUmh9w

In [249]:
df2.rename(columns={'good': 'norm'}, inplace=True)
df = pd.merge(df1, df2, on="photoIdOrig")

In [250]:
df.head()

,photoId,businessId,caption,label,good,useful,photoIdOrig,norm
0,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0,_15wZGb3QONopTo5yiZ8Rg,0
1,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,_80kyh9A5cFNG-RwwDR6iA,0
2,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0,_8B40xRtabQop1QXbpGTtA,1
3,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0,_8tN02g8wArjtdcu1e7Fnw,0
4,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0,_a1d3bupKZ0bzKyUAUmh9w,0

In [251]:
df.shape

(482, 8)

In [256]:
df.dtypes

photoId        object
businessId     object
caption        object
label          object
good           object
useful         object
photoIdOrig    object
norm            int64
dtype: object

In [252]:
df['useful'] = df['useful'].fillna(0).astype(int)

In [253]:
df['useful'] = df['useful'].apply(str)

In [257]:
df['norm'] = df['norm'].astype(str)

In [258]:
n = df.shape[0]

print("Both")
print(np.sum((df['good']=='1') | (df['useful']=='1'))*100/n)
print(np.sum((df['good']=='0') & (df['useful']=='0'))*100/n)
print("Both")
tp = (np.sum(((df['norm']==df['good']) | (df['norm']==df['useful'])) & (df['norm']=='1'))*100)/n
tn = (np.sum(((df['norm']==df['good']) & (df['norm']==df['useful'])) & (df['norm']=='0'))*100)/n
print(tp)
print(tn)
#     print(tp+tn)
fp = np.sum(((df['useful']=='0') & (df['good']=='0')) & (df['norm']=='1'))*100/n
print(fp)

Both
67.63485477178423
31.95020746887967
Both
35.06224066390042
26.556016597510375
5.394190871369295

In [1]:
2795+482

3277

In [2]:
35.06224066390042+26.556016597510375

61.61825726141079

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('labeledTrain.txt', sep=" ", header=None)
data.columns = ["no", "photoId", "semi", "score", "equal", "value"]

In [3]:
data.head()

   no                     photoId semi  score equal    value
0  1)  lm8n-ddgwgz8sgbuvkz9uw.jpg    :  Score     =  5.94856
1  2)  b0djwv7ocgknejww3roqsa.jpg    :  Score     =  5.94517
2  3)  qpfwxx8xosp44smhc-rbfg.jpg    :  Score     =  5.86847
3  4)  06vyjxhn0evriihjlwsx0g.jpg    :  Score     =  5.85913
4  5)  xzwmzemw6aqsxg9fmxbzcw.jpg    :  Score     =  5.83328

In [4]:
data = data.drop(['no', 'semi', 'score', 'equal'], axis=1)